---
import { getEntryBySlug, getCollection } from "astro:content";
import Heading from "./Heading.astro";
import { Image } from "astro:assets";

export interface Props {
  authorId: string;
  headingLevel: 1 | 2 | 3 | 4 | 5 | 6;
}

const { authorId, headingLevel = 2 } = Astro.props;

const entry = await getEntryBySlug("author", authorId);
if (!entry) {
  throw new Error(`Author with id ${authorId} not found`);
}

const { Content } = await entry.render();
const { firstname, lastname, avatar, github, linkedin, twitter } = entry.data;
const socials = [
  { name: "Github", url: github },
  { name: "LinkedIn", url: linkedin },
  { name: "Twitter", url: twitter },
].filter((social) => social.url);

const posts = await getCollection("blog");
---

<div class="not-prose flex flex-col items-start gap-4 p-4 rounded-3xl border-2 border-gray-600">
  <Heading headingLevel={headingLevel} class="text-xl mx-auto">
    {firstname}&nbsp;{lastname}
  </Heading>
  <Image
    class="h-24 w-24 rounded-full mx-auto"
    src={avatar}
    width={96}
    width={96}
    alt={`${firstname} ${lastname}`}
  />
  <div class="break-all"><Content /></div>

  <div class="flex flex-col gap-2">
    {
      socials.length > 0 && (
        <>
          <p class="mb-0">My links</p>
          <ul class="m-0 flex list-none gap-4 p-0">
            {socials.map((social) => (
              <li>
                <a href={social.url}>{social.name}</a>
              </li>
            ))}
          </ul>
        </>
      )
    }
  </div>
</div>
